<div class="header-wrap">
    <div class="header-overlay">
        <div class="header-title-container">
            <h1 class="header-page-title">1st HACKATHON<br/><span>Etec Sales Gomes</span></h1>
        </div>
    </div>
</div>
