.header {
    height: 100vh;
    background: url('../../../images/header-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .header-wrap {
        height: 100%;
        width: 100%;
        .header-overlay {
            background-color: rgba(#337ab7, 0.55);
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .header-title-container {
                width: 65%;
                .header-page-title {
                    color: #ffffff;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 7.2em;
                    text-align: center;
                    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.45);
                    > span {
                        font-family: 'Raleway', sans-serif;
                        font-size: 0.75em;
                    }
                }
            }
        }
    }
}
